@tailwind base;
@tailwind components;
@tailwind utilities;

.draftEditor {
  border: 1px solid #e0e0e0; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px; /* Padding inside the editor */
  min-height: 150px; /* Minimum height for the editor */
}

.draftEditor .public-DraftEditor-content {
  min-height: 150px; /* Ensures the editor has a minimum height */
}

.draftEditor .public-DraftStyleDefault-block {
  margin: 0; /* Remove default margin */
}

/* Styles for inline toolbar */
.draftJsInlineToolbar {
  position: absolute; /* Position the toolbar */
  z-index: 10; /* On top of other elements */
  background-color: white; /* Background color */
  border: 1px solid #e0e0e0; /* Border for toolbar */
  border-radius: 4px; /* Rounded corners */
  padding: 5px; /* Padding inside the toolbar */
}

/* Style for emoji suggestions */
.draftJsEmojiSuggestions {
  background-color: white; /* Background color */
  border: 1px solid #e0e0e0; /* Border */
  border-radius: 4px; /* Rounded corners */
  z-index: 10; /* On top of other elements */
}
